:root {
  --main-font: "Jost", sans-serif;
  --sacodary-font: "DM Serif Display", sans-serif;
  --mini-font: "Inter", sans-serif;

  --acent-cl: #292f36;
  --text-cl: #4d5053;
  --brand-cl: #cda274;
  --icon-cl: #f4f0ec;
}
